target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 忽略包含敏感信息的配置文件
# Ignore sensitive configuration files
/src/main/resources/application.properties
/src/main/resources/application-dev.properties
/src/main/resources/application-prod.properties
/src/main/resources/META-INF/persistence.xml

# 忽略所有 IDEA 的本地工作区文件 (更全面的规则)
.idea/workspace.xml
.idea/shelf/
/.idea/