# MongoDB Atlas Connection String
# \u8BF7\u5C06\u4E0B\u9762\u7684 <password> \u66FF\u6362\u4E3A\u4F60\u7684\u771F\u5B9E\u5BC6\u7801\uFF0C\u5E76\u5C06\u6B64\u6587\u4EF6\u91CD\u547D\u540D\u4E3A application.properties
mongodb.uri=mongodb+srv://wandercat:<password>@cluster0.k2i7wxu.mongodb.net/?appName=Cluster0